<ion-content>

  <!-- HERO -->

  <div class="hero">

    <img src="assets/us.jpg" class="hero-img">

    <div class="overlay"></div>

    <div class="hero-text">

      <h1>About Us</h1>

      <p>
        Creating unforgettable events with elegance,
        creativity and passion.
      </p>

      <ion-button class="custom-btn">
        Learn More
      </ion-button>

    </div>

  </div>

  <!-- SECTION 1 -->

  <div class="about-section">

    <div class="about-images">

    <img src="assets/deco2.jpg">
    <img src="assets/deco3.jpg">

    </div>
  

    <div class="about-text">

      <span class="subtitle">
        About Our Company
      </span>

      <h2>
        Authentic Culture and Beautiful Events
      </h2>

      <p>
        We specialize in weddings, birthday parties,
        luxury celebrations and unforgettable moments.
        Our team creates elegant experiences with
        creativity and passion.
      </p>

      <div class="stats">

        <div class="stat-box">
          <h3>10,000+</h3>
          <p>Happy Clients</p>
        </div>

        <div class="stat-box">
          <h3>94%</h3>
          <p>Positive Reviews</p>
        </div>

        <div class="stat-box">
          <h3>Top 100</h3>
          <p>Best Events</p>
        </div>

      </div>

<div class="social-buttons">

  <a href="#">
    Instagram
  </a>

  <a href="#">
    Facebook
  </a>

  <a href="#">
    TikTok
  </a>

</div>

    </div>

  </div>

  <!-- MIDDLE BANNER -->

  <div class="middle-banner">

    <div class="overlay"></div>

    <div class="banner-content">

      <h1>Endless Beauty & Elegant Moments</h1>

      <p>
        Turning dreams into unforgettable memories.
      </p>

      <ion-button class="custom-btn">
        Contact Us
      </ion-button>

    </div>

  </div>

  <!-- SECTION 2 -->

  <div class="about-section reverse">

    <div class="about-images">

      <img src="assets/images/about4.jpg">

      <img src="assets/images/about5.jpg">

    </div>

    <div class="about-text">

      <span class="subtitle">
        Why Choose Us
      </span>

      <h2>
        Perfect Destination for Celebrations
      </h2>

      <p>
        Elegant decoration, personalized planning
        and premium experiences for every client.
      </p>

      <ul>

        <li>✔ Luxury Weddings</li>

        <li>✔ Birthday Events</li>

        <li>✔ Family Celebrations</li>

        <li>✔ Corporate Parties</li>

      </ul>

    </div>

  </div>

</ion-content>