<ion-content>

  <!-- NAVBAR -->
  <div class="navbar">
    <div class="logo">CHS Producciones</div>

    <div class="menu">
      <a>Home</a>
      <a>Agenda</a>
      <a>Gallery</a>
      <a>Contact</a>
    </div>

  </div>

  <!-- HERO SECTION -->
  <div class="hero">

    <img src="assets/evento.jpg" class="hero-image">

    <div class="overlay"></div>

    <div class="hero-text">
      <h1>Event Planning</h1>

      <p>
        We organize weddings and elegant events
        for unforgettable moments.
      </p>

      <ion-button class="custom-btn">
        Contact Us
      </ion-button>
    </div>

  

  </div>

  <!-- SERVICES -->
  <div class="services">

  <div class="card">
    <img src="assets/planificacion.jpg">
    <h3>Wedding Events</h3>
    <p>Elegant decoration and planning.</p>
  </div>

  <div class="card">
    <img src="assets/cumple.jpg">
    <h3>Birthday Parties</h3>
    <p>Creative themes and fun moments.</p>
  </div>

  <div class="card">
    <img src="assets/corporativo.jpg">
    <h3>Corporate Events</h3>
    <p>Professional organization services.</p>
  </div>

  <div class="card">
    <img src="assets/Graduacion.jpg">
    <h3>Graduation Parties</h3>
    <p>Celebrate your achievements in style.</p>
  </div>

  <div class="card">
    <img src="assets/baby.jpg">
    <h3>Baby Showers</h3>
    <p>Sweet and unforgettable decorations.</p>
  </div>

  <div class="card">
    <img src="assets/evento.jpg">
    <h3>Concert Events</h3>
    <p>Lighting, music and live experiences.</p>
  </div>

</div>

</ion-content>