#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content {
  --background: linear-gradient(to bottom, #fefae0, #d1c788);
}

/* NAVBAR */

.navbar {
  background: #3a5a40;
  color: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;
}

.logo {
  font-size: 28px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 25px;
}

.menu a {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

/* HERO */

.hero {
  position: relative;
  height: 500px;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.5);
}

.hero-text {
  position: absolute;
  top: 30%;
  left: 60px;
  color: white;
  max-width: 400px;
}

.hero-text h1 {
  font-size: 52px;
  font-weight: bold;
}

.hero-text p {
  font-size: 18px;
  margin: 20px 0;
}

/* BOOKING CARD */

.booking-card {
  position: absolute;
  right: 60px;
  top: 80px;

  width: 300px;

  background: #faedcd;
  padding: 20px;
  border-radius: 12px;
}

.booking-card h2 {
  text-align: center;
  margin-bottom: 20px;
}

/* SERVICES */

.services {
  display: flex;
  justify-content: center;
  gap: 25px;

  padding: 40px;
  flex-wrap: wrap;
}

.card {
  background: #c0b290;
  width: 300px;

  border-radius: 12px;
  overflow: hidden;

  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card h3 {
  padding: 15px;
}

.card p {
  padding: 0 15px 20px;
}


.custom-btn {
  --background: #780000;
  --color: white;

  --border-radius: 25px;

  font-weight: bold;
}